body {
    color: black;
    background-color:aquamarine;
    font-family: Impact;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

a {
    color:rgb(206, 62, 151);
    text-decoration: none;
    font-size: x-large;
}

header img {
    width: 210px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgb(206, 62, 151);
}

.center {
    text-align: center;
}

h1 {color: rgb(206, 62, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {color: rgb(206, 62, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size:x-large;
    color: rgb(206, 62, 151);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;

}

footer img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid rgb(206, 62, 151);
}

footer {
    display: flex;
    justify-content: center;
}

nav a:hover {
    color: aqua
}

button {
    background-color: rgb(206, 62, 151);
    border:lab(from color l a b);
    width: 100px;
    height: 30px;
}